.nav {
    height: 50px;
    background-color: #fff;
    box-shadow: 0 4px 5px #d4d4d6;
    -webkit-box-shadow: 0 4px 5px #d4d4d6;
}

.nav .wrap {
    position: relative;
    margin: 0 auto;
    width: 960px;
    height: 100%;
    background-color: #fff;
}

.nav .wrap img {
    cursor: pointer;
    display: inline-block;
    height: 100%;
}

.nav .wrap ul {
    position: absolute;
    display: inline-block;
    right: 0;
}

.nav .wrap ul li {
    display: inline-block;
    padding: 0 14px 0 10px;
    line-height: 50px;
    background: url("../images/line.gif") no-repeat right center;
}

.nav .wrap ul li:hover {
    cursor: pointer;
    color: #07C0D8;
    border-bottom: 3px solid #07C0D8;
}

.nav .wrap ul .end-li {
    background: none;
}

